.btn-primary {
    background-color: #022601;
    border-color: #112620;
}

.btn-primary:hover {
    background-color: #ABBF80;
    border-color: #ABBF80;
}

h1, h2 {
    color: #ABBF80;
    font-weight: bold;
}

#footer {
    text-align: center;
    background-color: #ABBF80;
    font-family: monospace;
    padding: 5px;
    padding-top: 10px;
    color:#62733F;
}

.col-6 h6 {
    font-style: oblique;
    text-align: left;
    padding-top: 25px;
}

.col-6 img {
    height: 75%;
}

#about {
    margin-top: 100px;
}

.card-title {
    color: #ABBF80;
    font-weight: bold;
}

.navbar ul li a:hover {
    color: #888eca;
    font-weight: bold;
    background: rgba(255, 255, 255, 0.30);
    transition: .3s;
}

.navbar ul li a:focus {
    color: #888eca;
    font-weight: bold;
    background: rgba(255, 255, 255, 0.30);
    transition: .3s;
}

.navbar ul li a:active {
    color: #888eca;
    font-weight: bold;
    background: rgba(255, 255, 255, 0.30);
    transition: .3s;
}

